public.dodekeract.com {
	browse
	root /srv/com.dodekeract.public
}

reportmy.team, gg.reportmy.team, please.reportmy.team {
	root /srv/team.reportmy
}

projects.dodekeract.com {
	browse
	root /srv/com.dodekeract.projects
}

projects.dodekeract.com/line-replace-fractals {
	root /srv/com.dodekeract.projects/line-replace-fractals
	git github.com/dodekeract/line-replace-fractals
}

projects.dodekeract.com/mandelbrot {
	root /srv/com.dodekeract.projects/mandelbrot
	git github.com/dodekeract/mandelbrot
}

projects.dodekeract.com/particles {
	root /srv/com.dodekeract.projects/particles
	git github.com/dodekeract/particles
}

projects.dodekeract.com/sierpinski {
	root /srv/com.dodekeract.projects/sierpinski
	git github.com/dodekeract/sierpinski
}

projects.dodekeract.com/some-old-stuff {
	root /srv/com.dodekeract.projects/some-old-stuff
	git github.com/dodekeract/some-old-stuff
}

projects.dodekeract.com/spirograph {
	root /srv/com.dodekeract.projects/spirograph
	git github.com/dodekeract/spirograph
}

projects.dodekeract.com/spot-the-difference {
	root /srv/com.dodekeract.projects/spot-the-difference
	git github.com/dodekeract/spot-the-difference
}

manta.dodekeract.report {
	redir https://projects.dodekeract.com/manta/
}

smartfl.at {
	redir https://github.com/smartflat/smartflat
}

dns.smartfl.at {
	proxy / 127.0.0.1:40000 {
		header_upstream X-Real-IP {remote}
	}
}

impequid.com {
	proxy / 127.0.0.1:50000
}

services.impequid.com {
	proxy / 127.0.0.1:50001
}

festival.smartfl.at {
	proxy / 127.0.0.1:60000
}

dodekeract.com {
	proxy / 127.0.0.1:45000
}

slack.dodekeract.com {
	proxy / 127.0.0.1:55001
}

dinc.hacker.digital, dustincompetent.hacker.digital {
	root /srv/digital.hacker.dinc
}

syncthing.dodekeract.com {
	timeouts {
		read none
		write none
		header none
	}
	
	proxy / http://127.0.0.1:8384 {
		transparent
	}
}
